/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot{
    color: black;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin-top: 0%;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/****** header ***********/

.logo img{
    width:80px;   
    height:20px;
    padding-top: 20px;
}
.logo{
    display: flex;
    justify-content: space-between;
}

.logo li{
    display: inline;
    list-style-type: none;
}

.logo ul{
    display: flex;
    gap: 50px;
}

.logo a:hover {
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
    padding-top: 12px;
}


/****** Info ***********/


input.bordure {
        border: solid 1px;
        border-color: var(--main-bg-color);
        height:100%;
}


input[type="submit"]{
    background-color: var(--main-color);
    border-radius: 0% 10px 10px 0;
    color: rgb(250, 246, 246);
    border:none;
    height: 30px;
    margin-left: -4px;    
}


::placeholder{
    font-weight: bold;
    color: black;
    padding: 20px;
}

.info-titre p{
    margin: 0;
    position: relative;
    top: -15px;
}



.info-recherche{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    gap: 30px;
}

.info-gps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 15px;
    color: black;
    height: 40px;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--main-bg-color) ;
    margin-right: -30px;
    margin-top: 10px;
    margin-bottom: 3px;
}

button {
    display: none;
}


/****** Info-filtre ***********/




.Filtre_1:hover{
    background-color: var(--filter-bg-color) ;
}

.info-filtre{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}


.Filtre_1{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px 0 10px;
    border-radius: 30px;
    border:solid 2px var(--main-bg-color);
}

.ligne_filtre {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}




.info-bar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
}

.info_icone{
    border: solid 2px var(--main-bg-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
}

/**

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title{
    margin-bottom: 5px;
}

.hebergements-cards{
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.hebergements-rows{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.hebergements-rows a{
    flex: 1 1 0;
    min-width: 0;
    gap: 33px;
}

.hebergements-rows .card{
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-rows img{
    height: 124px;
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
}

.hebergements-rows .card-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-left: 15px;
    justify-content: space-between;
}

.hebergements-rows .card-title{
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-rows .card-subtitle{
    margin: 0;
}

.hebergements-rows .card-rating{
    margin-bottom: 5px;
}

.hebergements h4{
    margin: 30px 0 0 0;
    display: inline-block;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activité a Marseille ***********/

.Activité-titre{
    display: flex;
    justify-content:flex-start;
    padding-bottom: 30px;
}


.Activité{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.Activité_galerie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 80px;


}

.Activité .boite-1 {
    border-radius: 20px;
    box-shadow: 6px 6px 25px rgb(219, 213, 213);
    display: flex;
    flex-direction: column;

}
.Activité a{
    width: 20%;

}

.boite-1 .card-title {
    display: flex;
    margin-left: 10px;


}

.Activité img{
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/****** bas-de-page ***********/
.bas-de-page{
    display: flex;
    flex-direction: row ;
    justify-content: left;
    background-color: var(--main-bg-color);
    flex-wrap: wrap;
    padding: 0px;
    gap: 150px;
    margin-top: 50px;


}

.bas-de-page ul{
    list-style-type: none;
    flex-grow: 1;


}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


.section-title {
    margin: 0;
    font-size: 16px;
}


/**** header ****/
.logo img{
    width:60px;   
    height:20px;
    padding-top: 20px;
}

.logo{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
    
/****** Info ******************/

.info-titre{
    font-size: 63%;
}

.info-titre p{
    margin-top: 25px;
}

/****** Info-filtre ***********/


.info-filtre{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}


.ligne_filtre h2{
    width: 100%;
}


.Filtre_1{
    padding-left: 5px;

}

.info-bar{
    padding-bottom: 35px;

}


/**** hebergements ***********/

.hebergements-and-populaires {
        flex-direction: column;
    }

.hebergements {
        width: 100%;
    }

.populaires {
        width: 100%;
        margin-top: 50px;
    }

.populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.populaires-cards a {
        width: 30%;
    }

.populaires-cards .card-title {
        font-size: 14px;
    }

.populaires-cards .card-subtitle {
        font-size: 13px;
}

/**** Activité  ***********/


.Activité{
    flex-grow: 1;
    display: flex;
}


.Activité a{
    width: 30%;
}


.Activité-titre{
    padding-bottom: 25px;
}

.Activité_galerie{
    display: flex;
    gap: 10px;

}

.boite-1 h3 {
    font-size: 13px;
}

.Activité img {
  /*  width: 40%;  */
    height: 170px;
}

.card-title{
/*  font-size: 10px; */
margin-top: 15px;
margin-bottom: 20px;
}

/**** footer  ***********/


.bas-de-page{
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    gap: 0;

}

.bas-de-page ul{
    display: flex;
    flex-direction: column;


}



}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */


.main-container{
    padding: 0;
}

body{
    margin: 0;
}

.section-title {
    margin: 0;
    font-size: 18px;
}

.loupe{
    background-color: var(--main-color);

    padding: 12px;
    border-radius: 12px;
    width: 40px;
    margin-left: -5px
}

.fa-magnifying-glass{
    color: white;
}

/**** Header  ***********/


.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 0;
}

.logo img{
    width:60px;   
    height:20px;
    padding-top: 20px;
    padding-left: 42%;
    padding-bottom: 12px;
}


.logo ul{
    display: flex;
    border-bottom:  solid 2px var(--main-bg-color);
    width: 100%;
    gap: 0;
    justify-content: space-around;
    padding-left: 0;
}

.logo li{
    display: flex;
    padding-bottom:13px;
    width: 50%;
    justify-content: space-around;
}

.logo li:hover{
    width: 50%;
    border-top: none;
    color: var(--main-color);
    border-bottom:  solid 2px var(--main-color);
    padding-top: 0;
    padding-bottom: 12px;
}


.logo a:hover {
    border-top: none;
    color: var(--main-color);
    padding-top: 0;
}


/**** Info  ***********/

.info-recherche{
    padding-left:52px ;
}

.info-titre {
    padding-left: 8%;
}

.info-titre h1{
    font-size: 21px;
}

.info-titre p{
    font-size: 14px;
}


.ligne_filtre h2 {
    width: 80%;
}

.info-filtre{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 94%;
    margin-left: 15px;
}


.Filtre_1 .fa-solid{
    padding-left: 15px;
}

.Filtre_1{
    width: 42%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.info-filtre p{
    font-size: 13px;
}

.info-bar {
    padding-bottom: 0px;
    width: 80%;

}

.info-gps{
    margin-top: 1px;
    margin-bottom: -5px;
}

input.bordure {
    border: solid 1px;
    border-color: var(--main-bg-color);
    height:100%;
}

input[value="Rechercher"]{
    display: none;
}

button{
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
}

form{
    display: flex;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
    padding: 4%;
}

/****** Hebergements ***********/


.hebergements-and-populaires .hebergements{
    background-color: white;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.hebergements-rows {
    display: flex;
    flex-direction: column;
}


.populaires-cards a {
    width: 100%;
}






/**** Activité  ***********/

.Activité {
    width: 80%;

}

.Activité a {
    width: 100%;
    
}

.Activité_galerie{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;

}

.boite-1 h3 {
    font-size: 14px;
}

/**** footer  ***********/


.bas-de-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    width: 100%;
}

.bas-de-page ul{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

}
